ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b3adad;

  li {
    float: left;
  }
  li .active {
    background-color: #04aa6d;
  }
  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  a:hover:not(.active) {
    background-color: #111;
  }
}
